<div class="container">
  <div class="main-container">
    <div class="cards-container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="titulo">Apuntes Disponibles</h1>
        </div>
      </div>
      <div class="row" id="field-cards-row">
        <% @notes.each do |field| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'shared/note_card', field: field %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

