<div class="container" style="margin-bottom: 32px;">
  <div class="main-container">
    <div class="cards-container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="titulo" style="text-align: center; margin: 8px; padding: 16px; font-weight: bold; font-size: 32px;">Apuntes Disponibles</h1>
        </div>
      </div>
      <div class="row" id="field-cards-row">
        <% @notes.each do |field| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'shared/note_card', field: field %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <p>¿Tienes preguntas o sugerencias? Contáctanos:</p>
    <a href="https://www.instagram.com/12_startups/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/SCUADCO"><i class="fab fa-facebook"></i></a>
    <a href="https://wa.me/573148509472" target="_blank"><i class="fab fa-whatsapp"></i></a>

  </div>
  <div class="footer-copyright">
    Hecho con <i class="fa fa-heart"></i> por <strong>@12_startups</strong> en Startup Weekend Medellín
  </div>
</div>
