<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div style="background-color: white; padding: 24px; border-radius: 8px; box-shadow: 2px 2px 3px rgba(0,0,0,0.3); margin-top: 8px">
        <h1 style=" text-align: center; margin: 8px; padding: 16px; font-weight: bold; font-size: 24px;">
          Agrega tus apuntes y empieza a hacer dinero
        </h1>
        <%= render 'form', note: @note %>
      </div>
    </div>
</div>

