<div class="background-form2">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div style="background-color: white; padding: 24px; border-radius: 8px; box-shadow: 2px 2px 3px rgba(0,0,0,0.3); margin-top: 32px">
            <h1 style=" text-align: center; margin: 8px; padding: 16px; font-weight: bold; font-size: 24px;">¡Gracias por agregar tus apuntes!</h1>
            <p style=" text-align: left; margin: 8px; padding: 16px; font-weight: normal; font-size: 18px;">Te estaremos contactando si alguien se interesa en ellos</p>
            <p style=" text-align: center; margin: 8px; padding: 16px; font-weight: lighter; font-size: 14px;"> ¿Tienes preguntas o sugerencias? <strong>Llámanos: 3148509472</strong></p>
            <%= link_to "Agregar otra nota", new_note_path, class: "btn btn-primary form-btn"  %>
          </div>
        </div>
      </div>
  </div>
</div>
