<div class="banner <%= "banner-landing" if controller_name == "pages" %>">
  <div class="banner-content">
    <div class="moto">
      <h1>Estudiar para los exámenes de la U nunca fue tan fácil</h1>
      <h4>Encuentra los mejores apuntes de clase, escritos por tus propios compañeros</h4>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
